In [1]:
import pandas as pd
import sqlalchemy
import pymssql as mssql
import plotly.offline as py
import plotly.graph_objs as go
from plotly.offline import plot, iplot
import cufflinks as cf
import pandas_profiling
import matplotlib
import chart_studio.plotly as pyo
import chart_studio

In [2]:
chart_studio.tools.set_credentials_file(username='brunomedeiros', api_key='lCv4OnI1f29AeOoNqD6P')

In [3]:
#inicia o modo offline do plotly
py.offline.init_notebook_mode(connected=True)

In [4]:
#Permite trabalhar com plotly offline
cf.go_offline()

In [5]:
# pymssql
engine = sqlalchemy.create_engine('mssql+pymssql://sa:123@BRUNO:1433/incorpsafRJ1')

In [6]:
#Cria um data frame a partir de uma query do banco de dados
df = pd.read_sql_query("select op.Descricao,lg.datahora from log lg inner join operacao op on op.codigo = lg.operacao where op.modulo = 'IncorpNet' and lg.datahora >= %(dt_in)s and lg.datahora <= %(dt_fn)s order by op.descricao",engine,params={'dt_in':"2018-01-01 10:42:24",'dt_fn':"2020-12-31 10:42:24"})

In [7]:
#Imprime as 5 primeiras linhas do dataframe 
df.head()

       Descricao            datahora
0  Alterar Curso 2020-04-08 12:14:47
1  Alterar Curso 2020-04-14 11:16:14
2  Alterar Curso 2020-04-15 17:27:54
3  Alterar Curso 2020-04-15 17:39:53
4  Alterar Curso 2020-04-16 09:29:49

In [8]:
#Imprime informações sobre colunas e uso de memória
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3405550 entries, 0 to 3405549
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   Descricao  object
 1   datahora   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 39.0+ MB

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
#
df.columns

Index(['Descricao', 'datahora'], dtype='object')

In [11]:
#
df.count()

Descricao    3405550
datahora     3405550
dtype: int64

In [12]:
df.describe()

C:\Users\bruno\Anaconda2\envs\Incorp\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

       Descricao             datahora
count    3405550              3405550
unique        24              3078989
top        Login  2018-02-24 22:16:08
freq     1241446                   40
first        NaN  2018-01-01 10:51:01
last         NaN  2020-10-14 21:30:36

In [13]:
#Imprime as 5 últimas linhas
df.tail()

                  Descricao            datahora
3405545  Upload Arquivo GED 2020-07-13 13:29:09
3405546  Upload Arquivo GED 2020-07-13 13:29:09
3405547  Upload Arquivo GED 2020-07-13 13:56:54
3405548  Upload Arquivo GED 2020-07-13 13:56:54
3405549  Upload Arquivo GED 2020-07-13 13:56:54

In [14]:
#Retorna em formato de tupla quantidade de linhas e de colunas do dataset
df.shape

(3405550, 2)

In [15]:
df.datahora = pd.to_datetime(df.datahora)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3405550 entries, 0 to 3405549
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   Descricao  object
 1   datahora   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 39.0+ MB

In [17]:
df.head()

       Descricao            datahora
0  Alterar Curso 2020-04-08 12:14:47
1  Alterar Curso 2020-04-14 11:16:14
2  Alterar Curso 2020-04-15 17:27:54
3  Alterar Curso 2020-04-15 17:39:53
4  Alterar Curso 2020-04-16 09:29:49

In [18]:
df['mes'] = df.datahora.dt.to_period('M').astype(str)

In [19]:
df.head()

       Descricao            datahora      mes
0  Alterar Curso 2020-04-08 12:14:47  2020-04
1  Alterar Curso 2020-04-14 11:16:14  2020-04
2  Alterar Curso 2020-04-15 17:27:54  2020-04
3  Alterar Curso 2020-04-15 17:39:53  2020-04
4  Alterar Curso 2020-04-16 09:29:49  2020-04

OPERAÇÕES ( GRÁFICO DE LINHA)

In [20]:
Descricao_Operacao = df.groupby(by='Descricao').Descricao.count()

In [21]:
type(Descricao_Operacao)

pandas.core.series.Series

In [22]:
df.head(12)

        Descricao            datahora      mes
0   Alterar Curso 2020-04-08 12:14:47  2020-04
1   Alterar Curso 2020-04-14 11:16:14  2020-04
2   Alterar Curso 2020-04-15 17:27:54  2020-04
3   Alterar Curso 2020-04-15 17:39:53  2020-04
4   Alterar Curso 2020-04-16 09:29:49  2020-04
5   Alterar Curso 2020-04-16 16:46:08  2020-04
6   Alterar Curso 2020-04-17 06:05:18  2020-04
7   Alterar Curso 2020-04-17 17:51:01  2020-04
8   Alterar Curso 2020-04-20 12:44:31  2020-04
9   Alterar Curso 2020-04-20 18:36:58  2020-04
10  Alterar Curso 2020-04-20 22:49:50  2020-04
11  Alterar Curso 2020-04-21 16:33:35  2020-04

In [23]:
Descricao_Operacao.values

array([   1022,    3256,   52315,   42090,   38827,  109566,       7,
        155595,  369557,  276675,    1470,   77310,   19439,    3133,
       1241446,     177,  378675,   40922,  465932,   27733,   10515,
          7722,     929,   81237], dtype=int64)

In [24]:
Descricao_Operacao.index

Index(['Alterar Curso', 'Alterar E-Mail', 'Alterar Endereço',
       'Alterar Outros contatos', 'Alterar Senha',
       'Cadastrar Primeira Senha de PF', 'Cadastrar Primeira Senha de PJ',
       'Emissão de Certidão', 'Emitir boleto', 'Enviar Senha', 'Fale Conosco',
       'Incluir Boleto', 'Incluir Endereço', 'Incluir Protocolo', 'Login',
       'Login Conselho', 'Logout', 'Meu Cadastro', 'Pesquisar Cadastro',
       'Protocolo de Requerimento', 'Página do Cliente',
       'Requerimento de Inscrição', 'Tornar Endereço para Corresp',
       'Upload Arquivo GED'],
      dtype='object', name='Descricao')

In [25]:
data = [go.Scatter(x=Descricao_Operacao.index,
                   y=Descricao_Operacao.values)]

configuracoes_layout = go.Layout(title='Operações (IncorpNet)',
                                yaxis={'title':'Quantidade'},
                                xaxis={'title':'Operação'})

fig = go.Figure(data=data, layout=configuracoes_layout)

#py.iplot(fig)
pyo.plot(fig)

'https://plotly.com/~brunomedeiros/42/'

EMISSÃO DE CERTIDÃO POR MÊS

In [26]:
df_Emissao_Certidao = df.loc[(df['Descricao']=='Emissão de Certidão')]

In [27]:
df_Emissao_Certidao.head()

                  Descricao            datahora      mes
247083  Emissão de Certidão 2019-08-26 16:20:15  2019-08
247084  Emissão de Certidão 2019-08-26 16:03:11  2019-08
247085  Emissão de Certidão 2019-08-26 16:06:41  2019-08
247086  Emissão de Certidão 2019-08-26 16:06:59  2019-08
247087  Emissão de Certidão 2019-08-26 16:27:14  2019-08

In [28]:
df_Emissao_Certidao

                  Descricao            datahora      mes
247083  Emissão de Certidão 2019-08-26 16:20:15  2019-08
247084  Emissão de Certidão 2019-08-26 16:03:11  2019-08
247085  Emissão de Certidão 2019-08-26 16:06:41  2019-08
247086  Emissão de Certidão 2019-08-26 16:06:59  2019-08
247087  Emissão de Certidão 2019-08-26 16:27:14  2019-08
...                     ...                 ...      ...
402673  Emissão de Certidão 2020-10-14 21:29:31  2020-10
402674  Emissão de Certidão 2020-10-14 21:07:52  2020-10
402675  Emissão de Certidão 2020-10-14 20:58:23  2020-10
402676  Emissão de Certidão 2020-10-14 21:13:18  2020-10
402677  Emissão de Certidão 2020-10-14 21:14:46  2020-10

[155595 rows x 3 columns]

In [29]:
Emissao_certidao_por_mes = df_Emissao_Certidao.groupby(by='mes').Descricao.count()

In [30]:
Emissao_certidao_por_mes

mes
2019-07     2787
2019-08     4548
2019-09     4014
2019-10     6034
2019-11     4644
2019-12     4244
2020-01     7018
2020-02     7768
2020-03    14945
2020-04    17378
2020-05    21551
2020-06    12716
2020-07    14081
2020-08    13695
2020-09    14807
2020-10     5365
Name: Descricao, dtype: int64

In [31]:
Cores_Emissao_certidao_por_mes = []

In [32]:
media = Emissao_certidao_por_mes.values.mean()

In [33]:
media

9724.6875

In [34]:
for x in Emissao_certidao_por_mes.values:
    if x < media:
        Cores_Emissao_certidao_por_mes.append('red')
    else:
        Cores_Emissao_certidao_por_mes.append('lightblue')

In [35]:
Cores_Emissao_certidao_por_mes

['red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'red']

In [36]:
data = [go.Bar(x=Emissao_certidao_por_mes.index,
               y=Emissao_certidao_por_mes.values,
               marker = {'color':Cores_Emissao_certidao_por_mes,
                         'line':{'color':'#333',                                  
                                 'width':2}
                        },              
               opacity=0.7
              )
                    
       ]

#configuracoes_layout = go.Layout(title='Emissão de Certidão por mês (IncorpNet)',
#                                yaxis={'title':'Qtd de certidões geradas'},
#                                xaxis={'title':'Período'})

configuracoes_layout = dict(
    title="EMISSÃO DE CERTIDÃO POR MÊS",
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
    yaxis={'title':'Qtd de certidões geradas'}
)

fig = go.Figure(data=data, layout=configuracoes_layout)

#py.iplot(fig)
pyo.plot(fig)

'https://plotly.com/~brunomedeiros/44/'

EMISSÃO DE BOLETOS POR MÊS

In [37]:
df_Emissao_Boletos = df.loc[(df['Descricao']=='Emitir boleto')]

In [38]:
df_Emissao_Boletos.head()

            Descricao            datahora      mes
402678  Emitir boleto 2019-09-11 17:22:29  2019-09
402679  Emitir boleto 2019-09-11 18:25:15  2019-09
402680  Emitir boleto 2019-09-11 17:25:13  2019-09
402681  Emitir boleto 2019-09-11 17:25:15  2019-09
402682  Emitir boleto 2019-09-11 17:21:28  2019-09

In [39]:
df_Emissao_Boletos

            Descricao            datahora      mes
402678  Emitir boleto 2019-09-11 17:22:29  2019-09
402679  Emitir boleto 2019-09-11 18:25:15  2019-09
402680  Emitir boleto 2019-09-11 17:25:13  2019-09
402681  Emitir boleto 2019-09-11 17:25:15  2019-09
402682  Emitir boleto 2019-09-11 17:21:28  2019-09
...               ...                 ...      ...
772230  Emitir boleto 2020-05-19 09:44:57  2020-05
772231  Emitir boleto 2020-05-19 09:45:36  2020-05
772232  Emitir boleto 2020-05-19 10:14:47  2020-05
772233  Emitir boleto 2020-05-19 10:14:57  2020-05
772234  Emitir boleto 2020-05-19 10:13:30  2020-05

[369557 rows x 3 columns]

In [40]:
Emissao_boletos_por_mes = df_Emissao_Boletos.groupby(by='mes').Descricao.count()

In [41]:
Emissao_boletos_por_mes

mes
2018-07     3518
2018-08     5949
2018-09     4193
2018-10     4950
2018-11     4639
2018-12     4117
2019-01     7107
2019-02    19390
2019-03    15622
2019-04    17522
2019-05    14679
2019-06    10510
2019-07     9236
2019-08    10232
2019-09     9892
2019-10    10330
2019-11     9374
2019-12     9655
2020-01     9550
2020-02    26456
2020-03    28750
2020-04    26548
2020-05    28414
2020-06    19906
2020-07    20476
2020-08    16670
2020-09    15032
2020-10     6840
Name: Descricao, dtype: int64

In [42]:
Cores_Emissao_boletos_por_mes = []

In [43]:
media = Emissao_boletos_por_mes.values.mean()

In [44]:
media

13198.464285714286

In [45]:
for x in Emissao_boletos_por_mes.values:
    if x < media:
        Cores_Emissao_boletos_por_mes.append('red')
    else:
        Cores_Emissao_boletos_por_mes.append('lightblue')

In [46]:
Cores_Emissao_boletos_por_mes

['red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'lightblue',
 'red']

In [47]:
data = [go.Bar(x=Emissao_boletos_por_mes.index,
               y=Emissao_boletos_por_mes.values,
               marker = {'color':Cores_Emissao_boletos_por_mes,
                         'line':{'color':'#333',
                                  'width':2}
                        },
               opacity=0.7
              )
                    
       ]

#configuracoes_layout = go.Layout(title='Emissão de Boletos por mês (IncorpNet)',
 #                               yaxis={'title':'Qtd de Boletos Gerados'},
  #                              xaxis={'title':'Período'})

configuracoes_layout = dict(
    title="EMISSÃO DE BOLETOS POR MÊS",
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
     yaxis={'title':'Qtd de Boletos Gerados'}
   )    


fig = go.Figure(data=data, layout=configuracoes_layout)

#py.iplot(fig)
pyo.plot(fig)

'https://plotly.com/~brunomedeiros/46/'

REQUERIMENTO DE INSCRIÇÃO POR MÊS

In [48]:
df_requerimento_inscricao = df.loc[(df['Descricao']=='Requerimento de Inscrição')]

In [49]:
df_requerimento_inscricao.head()

                         Descricao            datahora      mes
3315662  Requerimento de Inscrição 2020-08-27 22:14:14  2020-08
3315663  Requerimento de Inscrição 2020-08-27 21:30:23  2020-08
3315664  Requerimento de Inscrição 2020-05-16 21:05:46  2020-05
3315665  Requerimento de Inscrição 2020-08-27 21:56:28  2020-08
3315666  Requerimento de Inscrição 2020-08-27 21:59:55  2020-08

In [50]:
df_requerimento_inscricao

                         Descricao            datahora      mes
3315662  Requerimento de Inscrição 2020-08-27 22:14:14  2020-08
3315663  Requerimento de Inscrição 2020-08-27 21:30:23  2020-08
3315664  Requerimento de Inscrição 2020-05-16 21:05:46  2020-05
3315665  Requerimento de Inscrição 2020-08-27 21:56:28  2020-08
3315666  Requerimento de Inscrição 2020-08-27 21:59:55  2020-08
...                            ...                 ...      ...
3323379  Requerimento de Inscrição 2020-10-08 11:48:11  2020-10
3323380  Requerimento de Inscrição 2020-10-08 11:34:54  2020-10
3323381  Requerimento de Inscrição 2020-10-08 12:01:12  2020-10
3323382  Requerimento de Inscrição 2020-10-08 12:19:03  2020-10
3323383  Requerimento de Inscrição 2020-10-08 11:21:03  2020-10

[7722 rows x 3 columns]

In [51]:
requerimento_inscricao_por_mes = df_requerimento_inscricao.groupby(by='mes').Descricao.count()

In [52]:
requerimento_inscricao_por_mes

mes
2020-03       2
2020-04     436
2020-05    2359
2020-06    1805
2020-07    1183
2020-08     899
2020-09     779
2020-10     259
Name: Descricao, dtype: int64

In [53]:
Cores_requerimento_inscricao_por_mes = []

In [54]:
media = requerimento_inscricao_por_mes.values.mean()

In [55]:
media

965.25

In [56]:
for x in requerimento_inscricao_por_mes.values:
    if x < media:
        Cores_requerimento_inscricao_por_mes.append('red')
    else:
        Cores_requerimento_inscricao_por_mes.append('lightblue')

In [57]:
data = [go.Bar(x=requerimento_inscricao_por_mes.index,
               y=requerimento_inscricao_por_mes.values,
               marker = {'color':Cores_requerimento_inscricao_por_mes,
                         'line':{'color':'#333',
                                  'width':2}
                        },
               opacity=0.7
              )
                    
       ]

#configuracoes_layout = go.Layout(title='Requerimento de Inscrição por mês (IncorpNet)',
#                                yaxis={'title':'Qtd de requerimentos de isncrições gerados'},
 #                               xaxis={'title':'Período'})
    
configuracoes_layout = dict(
    title="REQUERIMENTO DE INSCRIÇÃO POR MÊS",
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
     yaxis={'title':'Qtd de requerimentos de isncrições gerados'}
   )    

fig = go.Figure(data=data, layout=configuracoes_layout)

#py.iplot(fig)
pyo.plot(fig)

'https://plotly.com/~brunomedeiros/48/'

OPERAÇÕES ( GRÁFICO PIZZA )

In [58]:
operacoes_mais_utilizadas = df.Descricao.value_counts()

trace = go.Pie(labels = operacoes_mais_utilizadas.index,
               values = operacoes_mais_utilizadas.values,
               marker = {'line':{'color':'#000000','width':2}
                                },
               hoverinfo='label+percent+value',
               direction='clockwise'
)

data = [trace]

layout = go.Layout(title='Operações 2018')

fig = go.Figure(data=data, layout=layout)

#py.iplot(fig)
pyo.plot(fig)

'https://plotly.com/~brunomedeiros/50/'